header {
  background-color: $top-bar-color;
  color: $white;
  float: right;
  font-weight: bold;
  margin-bottom: $base-spacing;
  padding: $small-spacing;
  width: 100%;

  a {
    color: $white;
  }
}

.header__items {
  float: right;
  margin-right: $base-spacing;

  .header__item {
    display: inline;

    &:not(:last-child) {
      margin-right: $base-spacing;
    }
  }
}
