*.hi
*.keter
*.o
*.swp
.DS_Store
.cabal-sandbox
.env
.git
!.git/refs/heads
!.git/HEAD
.hsenv*
.sass-cache
.stack-work
Dockerfile
cabal-dev/
cabal.sandbox.config
config/client_session_key.aes
dist*
docker-compose.yml
env
static/combined/
static/tmp
tmp
yesod-devel/
