.page-profiles {
  $profile-columns: 5;
  $picture-columns: 1;
  $with-picture-columns: $profile-columns - $picture-columns;
  $without-picture-columns: $profile-columns;

  .banner {
    margin-bottom: $large-spacing;
  }

  .profile-form {
    @include span-columns(4);
  }

  .profiles {
    @include shift(1);
    @include span-columns($profile-columns);
  }

  .profile {
    @include span-columns($profile-columns of $profile-columns);

    margin-bottom: $large-spacing;

    form, p {
      clear: both;
      float: left;
    }

    button {
      background-color: $white;
      border-bottom: 1px solid lighten($action-color, 10);
      border-radius: 0;
      color: $medium-gray;
      font-weight: 400;
      padding: 0 0 $tiny-spacing 0;
      vertical-align: baseline;

      &:hover {
        border-color: $red;
        color: $red;
      }
    }
  }

  .profile-picture {
    @include span-columns($picture-columns of $profile-columns);

    img {
      $small-twitter-profile-size: 72px;

      height: $small-twitter-profile-size;
      min-width: $small-twitter-profile-size;
      width: $small-twitter-profile-size;
    }
  }

  .updated-fields-with-picture {
    @include span-columns($with-picture-columns of $profile-columns);
    @include omega;
  }

  .updated-fields-without-picture {
    @include span-columns($without-picture-columns);
    @include omega;
  }
}
