.page-profiles {
  .banner {
    margin-bottom: $large-spacing;
  }

  .form {
    @include span-columns(4);
  }

  .profiles {
    @include shift(1);
    @include span-columns(5);
  }

  .profile {
    margin-bottom: $large-spacing;

    form, button {
      display: inline;
    }

    button {
      background-color: $white;
      border-bottom: 1px solid $action-color;
      border-radius: 0;
      color: $black;
      margin-right: $base-spacing;
      padding: 0 0 $tiny-spacing 0;
      vertical-align: baseline;

      &:hover {
        border-color: $red;
        color: $red;
      }
    }
  }
}
