.page-profiles {
  .banner {
    margin-bottom: $large-spacing;
  }

  .profile-form {
    @include span-columns(4);
  }

  .profiles {
    @include shift(1);
    @include span-columns(5);
  }

  .profile {
    @include span-columns(5 of 5);

    margin-bottom: $large-spacing;

    form, button {
      display: inline;
    }

    button {
      background-color: $white;
      border-bottom: 1px solid lighten($action-color, 10);
      border-radius: 0;
      color: $medium-gray;
      font-weight: 400;
      line-height: 4px; // move bottom-border closer to text
      margin-right: $base-spacing;
      padding: 0 0 $tiny-spacing 0;
      vertical-align: baseline;

      &:hover {
        border-color: $red;
        color: $red;
      }
    }
  }

  .profile-picture {
    @include span-columns(1 of 5);

    img {
      $small-twitter-profile-size: 72px;

      height: $small-twitter-profile-size;
      min-width: $small-twitter-profile-size;
      width: $small-twitter-profile-size;
    }
  }
}
